main {
  min-height: 80vh;
}

.header-logo {
  height: 32px;
  width: 32px;
  margin-right: 0.3rem;
}

html {
  font-size: medium;
}

.wx-100 {
  width: 100%;
}

.landingPage {
  position: absolute;
  top: 0;
  background: url('../img/micheile-henderson-SoT4-mZhyhE.jpg') no-repeat center
    center/cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.landing-inner {
  color: #fff;
  height: 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding-right: 3rem;
  align-items: right;
  justify-content: center;
  text-align: right;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.avatar {
  width: 6rem;
  height: 6rem;
  float: left;
  margin-right: 1rem;
}

.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
